@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-RegularItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-RegularItalic";
  src: url("../fonts/roboto/Roboto-RegularItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("../fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-ThinItalic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("../fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/roboto/Roboto-Black.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Condensed";
  src: url("../fonts/roboto-condensed/Roboto-Condensed-Regular.woff2") format("woff2"), url("../fonts/roboto-condensed/Roboto-Condensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Condensed-Regular";
  src: url("../fonts/roboto-condensed/Roboto-Condensed-Regular.woff2") format("woff2"), url("../fonts/roboto-condensed/Roboto-Condensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Condensed";
  src: url("../fonts/roboto-condensed/Roboto-Condensed-RegularItalic.woff2") format("woff2"), url("../fonts/roboto-condensed/Roboto-Condensed-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-Condensed-RegularItalic";
  src: url("../fonts/roboto-condensed/Roboto-Condensed-RegularItalic.woff2") format("woff2"), url("../fonts/roboto-condensed/Roboto-Condensed-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Condensed";
  src: url("../fonts/roboto-condensed/Roboto-Condensed-Light.woff2") format("woff2"), url("../fonts/roboto-condensed/Roboto-Condensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Condensed-Light";
  src: url("../fonts/roboto-condensed/Roboto-Condensed-Light.woff2") format("woff2"), url("../fonts/roboto-condensed/Roboto-Condensed-Light.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Condensed";
  src: url("../fonts/roboto-condensed/Roboto-Condensed-LightItalic.woff2") format("woff2"), url("../fonts/roboto-condensed/Roboto-Condensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-Condensed-LightItalic";
  src: url("../fonts/roboto-condensed/Roboto-Condensed-LightItalic.woff2") format("woff2"), url("../fonts/roboto-condensed/Roboto-Condensed-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Condensed";
  src: url("../fonts/roboto-condensed/Roboto-Condensed-Bold.woff2") format("woff2"), url("../fonts/roboto-condensed/Roboto-Condensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Condensed-Bold";
  src: url("../fonts/roboto-condensed/Roboto-Condensed-Bold.woff2") format("woff2"), url("../fonts/roboto-condensed/Roboto-Condensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Condensed";
  src: url("../fonts/roboto-condensed/Roboto-Condensed-BoldItalic.woff2") format("woff2"), url("../fonts/roboto-condensed/Roboto-Condensed-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto-Condensed-BoldItalic";
  src: url("../fonts/roboto-condensed/Roboto-Condensed-BoldItalic.woff2") format("woff2"), url("../fonts/roboto-condensed/Roboto-Condensed-BoldItalic.woff") format("woff");
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

h1 {
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 0;
}

h2 {
  font-size: 1.4rem;
  font-weight: 200;
}

footer {
  background-color: #f5f5f5;
  text-align: center;
}

.form-control {
  font-weight: 300;
}

.background {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 100%;
  background-color: #dee2e6;
  height: calc(100vh - 210px);
  z-index: 0;
  overflow-y: auto;
  position: relative;
}

.worker {
  position: relative;
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 52px;
}
.worker .worker-avatar {
  float: left;
  display: block !important;
}
.worker .worker-avatar img {
  width: 50px;
  height: 50px;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.worker .worker-info {
  padding: 0.3rem 1rem 0.3rem 70px;
  display: block !important;
}
.worker .worker-info h6 {
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0;
  color: #495057;
}
.worker .worker-info .position {
  display: block;
  font-size: 12px;
  font-weight: 300;
  color: #6c757d;
}

.branch.closed .worker {
  box-shadow: none;
}
.branch.closed .worker:after, .branch.closed .worker:before {
  content: "";
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  width: 300px;
  height: 52px;
  top: 3px;
  left: 3px;
  z-index: -2;
}
.branch.closed .worker:before {
  top: 7px;
  left: 7px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.tree, .tree ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tree ul {
  margin-left: 26px;
  position: relative;
}

.tree ul ul {
  margin-left: 26px;
}

.tree ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid;
}

.tree li {
  margin: 0;
  padding: 15px 25px;
  color: #17a2b8;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  width: 330px;
}

.tree ul li:before {
  content: "";
  display: block;
  width: 50px;
  height: 0;
  border-top: 1px solid;
  margin-top: -1px;
  position: absolute;
  top: 2.5rem;
  left: 0;
}

.tree ul li:last-child:before {
  background-color: #dee2e6;
  height: auto;
  top: 2.5rem;
  bottom: 0;
  width: 25px;
}

.indicator {
  margin-right: 5px;
}

.tree li a {
  text-decoration: none;
  color: #369;
}

.tree li button, .tree li button:active, .tree li button:focus {
  text-decoration: none;
  color: #369;
  border: none;
  background: transparent;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  outline: 0;
}